@use'base/variables' as v;
@use'base/mixins' as m;

.aboutUs-contain{
    @include m.tablet{
        @include m.gap(2, 5rem)
    }
    .aboutUs-img{
        padding-bottom: 5rem;
        @include m.tablet{ 
            padding-bottom: 0;
        }
        img{
            margin: 0 auto;
            transform: rotate(-6deg) ;
            border: 3rem solid v.$white;
            box-shadow: 9px 10px 5px -7px rgb( 0 0 0 / .35);
        }
    }
}
blockquote{
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    border-left: .5rem solid v.$first_color;
}
