@use 'variables' as v;

.text-center{
    text-align: center;
}
.bg-first{
    background-color: v.$first_color;
}
.negative-margin{
    margin-top: -6rem;
}
.bg-white{
    background-color: v.$white;
}