//Fonts
$mainFont: 'Raleway', sans-serif;
$secondFont: 'Roboto', sans-serif;
$thirdFont: 'Bona Nova', serif;

//Colors
$first_color: #5E311E;
$second_color: #C39C63;
$third_color: #ebe7de;
$black: #000;
$white: #FFF;
$gray: #ECEEEF;

//Units
$sep: 5rem;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;